<div class=text-info>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone Number</label>
    <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" value="{{phoneNumber}}">
  </div>
  <div class="input-group">
      <input type="text" class="form-control" placeholder="State" id="address" value="{{State}}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="geocode-button">GeoCode!</button>
      </span>
  </div><!-- /input-group -->
  <div class="form-group">
    <label class="sr-only" for="addressType">Address Type</label>
    <input type="text" class="" id="addressType" placeholder="Address type" value="state" readonly>
  </div>
</div>
