<div class="form-group">
  <label class="sr-only" for="Location">Location</label>
  <input type="text" class="form-control" id="Location" placeholder="Location" value="{{Location}}">
</div>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Address" id="address" value="{{address}}">
    <span class="input-group-btn">
      <button class="btn btn-default disabled" type="button" id="geocode-button">GeoCode!</button>
    </span>
</div><!-- /input-group -->
<div class="form-group">
  <label class="sr-only" for="addressType">Address Type</label>
  <input type="text" class="" id="addressType" placeholder="Address type" value="street" readonly>
</div>

<div class="form-group">
  <label class="sr-only" for="locationCheck">Location Check</label>
  <input type="text" class="text-success" id="locationCheck" placeholder="please geocode" {{#if lat}}value="Location is valid"{{/if }} readonly>
</div>
<div class=text-info>
  <div class="form-group">
    <label  for="RSVP">RSVP url</label>
    <input type="url" class="form-control" id="RSVP" placeholder="Link" value="{{RSVP}}">
  </div>
  <div class="form-group">
    <label  for="rsvpName">RSVP link name (optional)</label>
    <input type="text" class="form-control" id="rsvpName" placeholder="Link Name" value="{{RSVP}}">
  </div>
</div>
